

.l-tabs--area{
    margin: auto;
    text-align: center;
    border: 1px solid #707070;

    @include mq(tb){

    }
    .tab-item{
        display: inline-block;
        width: 49.2%;

        line-height: 2;
        color: #707070;
        background: #ffffff;
        text-align: center;
        transition: all .3s ease;
        &:hover{
            color: #ffffff;
            background: #B9B9B9;
        }
        @include mq(tb){
            width: 49.68%;
        }
    }
    input[name="tab-item"] {
        display: none;
    }
    .tab-content {
        display: none;
        margin: auto;
        border-top: 1px solid #707070;
        clear: both;
        overflow: hidden;
        @media screen and (min-width: 767px){

        }
        .tab-content-img{
            img{
                width: 100%;
                height: auto;
            }
        }
    }
    #g01:checked ~ #g01-content,
    #n01:checked ~ #n01-content {
        display: block !important;
        // opacity: 1;
        transition: all 1s ease;
    }
    input:checked + .tab-item {
        background-color: #B9B9B9;
        color: white;
        transition: all .3s ease;
    }
}
